/*  RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Whitney, sans-serif;
}

/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* FLOAT */
.float-left{
    float: left;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

header{
    height: 80px;
    width: 100%;
    background-color: rgb(49, 97, 224);
    line-height: 80px;
}

.logo img{
    vertical-align: middle;
}

.main-nav{
    width: calc(75% - 12px);
}

.container{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 300px;
}

header .main-nav li{
    list-style-type: none;
    display: inline;
    margin-left: 25px;
}

header .main-nav ul li a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 13%;
}

.login{
    width: 13%;
    text-align: right;
}

.white-button{
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-weight: 700;
    margin-right: 0;
}

.black-button{
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: 700;
    margin-right: 0;
}

.jumbotron{
    background-image: url(../img/jumbo.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    margin-bottom: 100px;
}

.jumbotron>.container{
    top:20%;
    width: 60%;
    height: 60%;
    color: white;
    left: 25%;
}

.jumbotron>.container>h1{
    font-size: 3rem;
    margin-bottom: 30px;
}

.jumbotron>.container>p{
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 1rem;
}

aside.image{
    width: 65%;
}

aside.article{
    width: 30%;
    text-align: left;
    margin-left: 50px;
}

.button-jumbotron{
    font-size: 1.3rem;
    padding: 15px;
}

aside.article>h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

aside.article>p{
    font-weight: 550;
}

